@import '~sweetalert2/src/variables';
@import '~sweetalert2/src/sweetalert2';

.swal2-popup{
    border-radius:5px;
    font-size:2rem;
    background-color: $color-primary;
    
}

.swal2-styled.swal2-confirm{

    background-color: $color-button;
    font-family: $font-secondary;
    letter-spacing: 1px;
    font-weight: 700;

}

.swal2-content{
    font-family: $font-third ;
    color: $color-primary-text;
}
.swal2-title {
    color:$color-white;
    letter-spacing: 1px;
}
.swal2-styled.swal2-confirm{
    font-size: 2.2rem;
    background-color: $color-button;
    border-color: #222;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    
}