$color-primary: #36A9E1;
$color-primary-dark:rgb(52, 161, 216);
$color-primary-dark-2: rgb(48, 149, 199);


$color-secondary: #22262a;
$color-secondary-light: #808080;
$color-secondary-dark: #505050; 

$color-gray-light: #6e7b88;

$color-white: #fff;
$color-black: #000;





// Cubic Beziers
$cubic-bezier-primary: cubic-bezier(0.175, 0.885, 0.32, 1.275);


// layers
$layer-nav:900;
$layer-burger:1000;
