
//<-------------colors--------------->
$color-primary: #2c2c2c; // #36A9E1
$color-primary-dark: #333333; // #34a1d8
$color-primary-dark-2: #363636; // #3095c7
$color-secondary: #272727;



//<-------------text color's--------------->
$color-primary-text:#8796a5;;
$color-text-nav:#636364;;
$color-text-nav-light:#9f9f9f;
$color-button: #e53332;


$color-white: #fff;
$color-black: #000;
$color-gray: #565f69;

$color-linkedin:#0077ba;
$color-github:#2b3137;
$color-email:#e53332;
$color-resume:#363636;
$color-footer: #171a1d;
$color-scroll: #e53332;



//<-------------fonts--------------->
$font-primary: Staatliches, sans-serif;
$font-secondary: Inconsolata, sans-serif;

//<-------------Grid--------------->
$grid-width: 100%;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;

//<-------------Cubic Bezier--------------->
$cubic-bezier-primary: cubic-bezier(0.175, 0.885, 0.32, 1.275);

//<-------------Layers--------------->
$layer-nav:800;
$layer-burger:900;
$layer-contact:700;
$layer-modal: 1000;
